<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <script src="/js/jquery.min.js"></script>

    <!---------ckedtior-------->

    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/plugins/jstree/dist/jstree.min.js"></script>

    <!----------Handlebars------------>

    <script src="/js/handlebars.min.js"></script>

    <!----------toastr-------------------->

    <link rel="stylesheet" type="text/css" href="/css/toastr.min.css">
    <script src="/js/toastr.min.js"></script>

    <!---------------font-awesome--------------->
    <link rel="stylesheet" type="text/css" href="/plugins/font-awesome/css/font-awesome.css">

    <!-------------- iCheck -------------------->
    <script src="/plugins/iCheck/icheck.min.js"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!---------------------------bootstrap---------------------------->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/jstree/dist/themes/default/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

{{{body}}}

</body>
</html>


<script type="text/javascript">

    // Default Configuration
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "preventDuplicates": true,
            "preventOpenDuplicates": true,
            "positionClass": "toast-top-right",
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });
</script>